@model QLGO.Models.LOAITHANHTOAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại thanh toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLTT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDLTT }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
