    @model QLGO.Models.XUUATKHO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>XUUATKHO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày xuất kho
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuatKho)
        </dd>

        <dt>
            Tên người dùng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIDUNG.TenND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDPhieuXuat }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
