@model IEnumerable<QLGO.Areas.BCTK.Models.DoanhThuViewModel>
@{
    ViewBag.Title = "DoanhThu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Thống Kê Doanh Thu</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tháng Năm</th>
            <th>Doanh Thu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ThangNam</td>
                <td>@item.DoanhThu</td>
            </tr>
        }
    </tbody>
</table>