@model IEnumerable<QLGO.Areas.BCTK.Models.HangBanViewModel>

@{
    ViewBag.Title = "HangBan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thống Kê Hàng Đã Bán</h2>

<table class="table">
    <thead>
        <tr>
            <th>Tháng Năm</th>
            <th>Sản Phẩm</th>
            <th>Số Lượng Bán</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ThangNam</td>
                <td>@item.TenSP</td>
                <td>@item.SoLuongBan</td>
            </tr>
        }
    </tbody>
</table>
